<!DOCTYPE html>
    <% include partials/bootstrap_head.ejs %>
    <% include partials/menu-unauthenticated.ejs %>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Error</h1>
        </div>
      </div>

        <div class="alert alert-danger" role="alert">
          <strong>Oh snap - something went wrong with your submission</strong>
      </div>

    <% include partials/bootstrap_footer.ejs %>
