<!DOCTYPE html>
    <% include partials/bootstrap_head.ejs %>
    <% include partials/menu.ejs %>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Welcome to Heimdall</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="lead">Stuff<br> More stuff</p>
        </div>
      </div>
    </div><!-- /.container -->
    <% include partials/bootstrap_footer.ejs %>
